// FOR DESKTOP AND MOBILE
.content {
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.login-button {
  width: 100%;
  max-width: 300px;
}
.google-icon {
  width: 24px;
  margin-right: 12px;
}
.loginPart {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.googleBtn {  
  justify-content: center;
  display: flex;
  padding-bottom: 2rem;
}

.ant-typography {
    color: white;
}

//DESKTOP VER
@media screen and (min-width: 769px) {
  .logo {
    float: left;
    max-width: 13rem;
    height: auto;
  }

  .first-layout-content {
    min-height: 33rem;
    padding: 3rem;
    background-color: #343541;
    display: flex;
    justify-content: center;
    gap: 5rem;

    .write_content {
      max-width: 35rem;
    }

    .firstImg {
      max-width: 30rem;
      height: auto;
    }
    
    .loginPart {
      margin-top: 3rem;
    }
  }

  .layout-content {
    min-height: 28rem;
    padding-top: 3rem;
    padding: 3rem;
    background-color: #343541; // second background color
    display: flex;
    justify-content: center;
    gap: 5rem;

    .write_content {
      max-width: 35rem;
    }
  }

  iframe {
    width: 350px;
    height: 350px;
  }
}

// MOBILE VER
@media screen and (max-width: 768px) {
  .logo {
    max-width: 10rem;
  }

  .first-layout-content {
    padding: 1rem 3rem;
    background: #343541;

    .write_content {
      max-width: 100%;
      justify-content: center;
      display: flex;
    }

    .first_image_content {
      padding-left: 2rem;
      margin-top: 5rem;
      text-align: center;
    }

    .firstImg {
      width: 25rem;
    }
  }

  .layout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    gap: 2rem;

    .write_content {
      max-width: 100%;
    }

    .image_content {
      order: -1;
      
    }
  }

  iframe {
    width: 100%;
    height: 200px;
    max-width: 250px;
  }
}
