.main-container {
    flex-direction: column;
    align-items: center;
    display: flex;
}
.login-button {
    width: 300px;
}
.logo-text {
    margin-top: 24px;
    font-size: 30px;
}

.login-text {
margin: 24px;
}

.google-icon {
    width: 24px;
    margin-right: 12px;
}